body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #0f388a;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #0f388a;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #0f388a;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #40514E;
  font: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #0073e6;
}

.top-container {
  background-color: #b6f4fc;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #b6f4fc;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #006D9F;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.Kai-Vidal-Author-Coach-Mentor {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.Kai-Vidal-Author-Naturopath-Nutrition {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.BUTTON_FZX {
   background: #0025A7;
   background-image: -webkit-linear-gradient(top, #0025A7, #6499FA);
   background-image: -moz-linear-gradient(top, #0025A7, #6499FA);
   background-image: -ms-linear-gradient(top, #0025A7, #6499FA);
   background-image: -o-linear-gradient(top, #0025A7, #6499FA);
   background-image: -webkit-gradient(to bottom, #0025A7, #6499FA);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #FFFFFF;
   font-family: Garamond;
   font-size: 30px;
   font-weight: 100;
   padding: 14px;
   -webkit-box-shadow: 1px 1px 20px 0 #0059A0;
   -moz-box-shadow: 1px 1px 20px 0 #0059A0;
   box-shadow: 1px 1px 20px 0 #0059A0;
   text-shadow: 1px 1px 20px #000000;
   border: outset #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_FZX:hover {
   border: solid #337FED 1px;
   background: #0077FF;
   background-image: -webkit-linear-gradient(top, #0077FF, #201B93);
   background-image: -moz-linear-gradient(top, #0077FF, #201B93);
   background-image: -ms-linear-gradient(top, #0077FF, #201B93);
   background-image: -o-linear-gradient(top, #0077FF, #201B93);
   background-image: -webkit-gradient(to bottom, #0077FF, #201B93);
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   text-decoration: none;
}
